.center{
    text-align: center;
    font-size: 30px;
    padding-top: 150px;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

img{
    width: 400px;
    height: 300px;
}
